<div id="container">
    <div class="row">
        <h2 class="sub-header row">Dodaj kuriera</h2>
        <form ng-submit="addCourier(newCourier)">
            <div class="row form-group">
                <div class=" form-group"> <input class="form-control" placeholder="Enter First Name" type="text" ng-model="newCourier.name" ng-pattern="/^([a-zA-Z])*$/" required min="3" /></div>
                <div class=" form-group"><input class="form-control" placeholder="Enter Last Name" type="text" ng-model="newCourier.surname" required min="3" ng-pattern="/^([a-zA-Z])*$/" /></div>
                <div class=" form-group"> <input class="form-control" placeholder="Enter Pesel" type="text" ng-model="newCourier.pesel" required min="11" max="11" ng-pattern="/^([0-9]{11})$/" /></div>
                <div class=" form-group"> <input class="form-control" placeholder="Enter Email" type="text" ng-model="newCourier.email" required min="1" /></div>
                <div class=" form-group"> <input class="form-control" placeholder="Enter Hire Date" type="date" ng-model="newCourier.hireDate" required min="1" />      </div>
                <div class=" form-group"> <input class="form-control" placeholder="Enter Release Date" type="date" ng-model="newCourier.dismissDate" required min="1" />  </div>
            </div>
            <div class="row">
                <button class="btn btn-success " ng-disabled="!newCourier" ng-click="addCourier(newCourier)" >Dodaj</button>  
            </div>
        </form>
    </div>

    <div class ="row">
        <h2 class="sub-header">Lista kurierów</h2>
        <div>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-1">#id</th>
                        <th class="col-md-2">Imie </th>
                        <th class="col-md-2">Nazwisko</th>
                        <th class="col-md-3">pesel</th>
                        <th class="col-md-1">Data zatr</th>
                        <th class="col-md-1">Data zwol</th>
                        <th class="col-sm-1 col-md-1 col-lg-1">Edit</th>
                        <th class="col-sm-1 col-md-1 col-lg-1">Delete</th>
                    </tr>
                </thead>
                <tbody ng-repeat="courier in couriers">
                    <tr>
                        <td>{{courier.id}}</td>
                        <td>{{courier.name}}</td>
                        <td>{{courier.surname}}</td>
                        <td>{{courier.pesel}}</td>
                        <td>{{courier.hireDate| date: 'dd-MM-yyyy'}}</td>
                        <td>{{courier.dismissDate| date: 'dd-MM-yyyy'}} </td>
                        
                        <td class="col-sm-1 col-md-1 col-lg-1"><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" ng-click="selectCourier(courier)" data-toggle="modal" data-target="#edit" >
                                    <span class="glyphicon glyphicon-pencil"></span></button></p>
                        </td>

                        <td class="col-sm-1 col-md-1 col-lg-1"><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" ng-click="selectCourier(courier)" data-toggle="modal" data-target="#delete" >
                                    <span class="glyphicon glyphicon-trash"></span></button></p>
                        </td>                       
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title custom_align" id="Heading1">Edit Your Detail</h4>
                </div>
                <div class="modal-body" ng-model="selectedCourier">
                    <div class="form-group">
                        <input class="form-control " ng-model="selectedCourier.name" type="text" ng-pattern="/^([a-zA-Z])*$/" required min="3"/>
                    </div>
                    <div class="form-group">

                        <input class="form-control " ng-model="selectedCourier.surname" type="text" required min="3" ng-pattern="/^([a-zA-Z])*$/"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control " ng-model="selectedCourier.pesel" type="text" required min="11" max="11" ng-pattern="/^([0-9]{11})$/"/>
                    </div>
                    <div class="form-group" >
                        <input class="form-control " ng-model="selectedCourier.hireDate"  type="date"/>
                    </div>
                    <div class="form-group">
                        <input class="form-control " ng-model="selectedCourier.dismissDate" type="date"/>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-warning btn-lg" style="width: 100%;" ng-click="updateCourier(selectedCourier)" data-dismiss="modal"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
                </div> 
            </div>
            <!-- /.modal-content --> 
        </div>
        <!-- /.modal-dialog --> 
    </div>



    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" ng-model="selectedCourier">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success"  ng-click="deleteCourier(selectedCourier)" data-dismiss="modal" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                    <div class="form-group">

                        <input class="form-control " ng-model="selectedCourier.name" type="text">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content --> 
    </div>
</div>