<div class="container">
    <div class="row">
        <form class="form-horizontal" ng-submit="generateTracks()">
            <div class="form-group">
                <label class="col-sm-2 control-label">Wybierz oddział</label>
                <div class="col-sm-10">
                    <select ng-model="selectedLocation" class="form-control"
                            ng-options="location as location.name for location in locations">  
                    </select>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-success btn-sm">Zaplanuj Trasy</button>
                </div>
            </div>  
        </form>
    </div>

    <div class="row">
        <h2 class="sub-header">Lista Tras</h2>
        <div>
            <table id="mytable" class="table table-condensed">
                <thead>
                    <tr>
                        <th class="col-sm-1 col-md-1 col-lg-1">#id</th>
                        <th class="col-sm-4 col-md-4 col-lg-4">Oddział</th>
                        <th class="col-sm-4 col-md-4 col-lg-4">Kurier</th>
                        <th class="col-sm-3 col-md-3 col-lg-3">Edytuj</th>
                    </tr>
                </thead>
                <tbody ng-repeat="track in tracks">
                    <tr>
                        <td class="col-sm-1 col-md-1 col-lg-1">{{location.id}}</td>
                        <td class="col-sm-4 col-md-4 col-lg-4">{{location.address}}</td>
                        <td class="col-sm-4 col-md-4 col-lg-4">{{location.city}}</td>

                        <td class="col-sm-3 col-md-3 col-lg-3"><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" ng-click="selectTrack(track)" data-toggle="modal" data-target="#edit" >
                                    <span class="glyphicon glyphicon-pencil"></span></button></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>