<div id="container">
    <div class ="row">
        <h2 class="sub-header">Dostepne opcje paczki</h2>
        <div>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-1">#id</th>
                        <th class="col-md-3">Nazwa </th>
                        <th class="col-md-3">Opis</th>
                        <th class="col-md-1">Cena</th>
                    </tr>
                </thead>
                <tbody ng-repeat="packageOption in packageOptions">
                    <tr>
                        <td>{{packageOption.id}}</td>
                        <td>{{packageOption.name}}</td>
                        <td>{{packageOption.description}}</td>
                        <td>{{packageOption.price}}</td>                  
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
